        做一件事。说一句话，无论事情的大小，说话的多少，你都得自己先有了计划，先问问自己做这件事，说这句话，有没有意义?你能这样做，就是奋斗基础的开始奠定。                             ——戴尔·卡耐基
        人无近忧,必有远虑。                        ——《论语·卫灵公》
        蜜蜂建造蜂房的本领使人间的许多建筑师感到惭愧。但最蹩脚的建筑师从一开始就比最灵巧的蜜蜂高明的地方，是他在用蜂蜡建筑蜂房以前已经在自己的头脑中把它建成了。                                   ——马克思
       	计划的制定比计划本身更为重要。   —— 戴尔·麦康基
	订目标，做计订目标，做计划，大量的行动。                                                 ——陈安之
	用百折不回的毅力，有计划地克服所有的困难。                                              —— 毛泽东
	凡事预则立，不预则废。——《礼记·中庸》
	不打无准备之仗，方能立于不败之地。——古代谚语
	洪水未到先筑堤，豺狼未来先磨刀。——藏族谚语
	机会永远都是留给有准备的人。——哈佛校训
	如果有什么需要明天做的事，最好现在就开始。 ——富兰克林
	想得好是聪明，计划得好更聪明，做得好是最聪明又是最好。——拿破仑
	机遇从不光顾没有准备的头脑 ，弱者坐待良机，强者制造时机。——居里夫人
	世界会向那些有目标和远见的人让路。——冯两努
	不耻最后。即使慢，驰而不息，纵令落后，纵令失败，但一定可以达到他所向往的目标。——鲁迅
	一个崇高的目标，只要不渝地追求，就会成为壮举。——华兹华斯
	谁配得到上帝的奖励？毫无疑问，只有那些准备好了的人。——陈福民
	时间就像海绵里的水,只要愿挤,总还是有的。——鲁迅
	未来是光明而美丽的，爱它吧，向它突进，为它工作，迎接它，尽可能地使它成为现实吧！——车尔尼雪夫斯基
	过去的，让它过去，永远不要回顾；未来的，等来了时再说，不要空想；我们只抓住了现在，用我们现在的理想，做我们所应该做的。——茅盾